<launch>
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.19378, frame_id: b_frame},
      {id: 1, size: 0.19378, frame_id: a_frame},
      {id: 2, size: 0.19278},
      {id: 3, size: 0.19378},
      {id: 4, size: 0.19378, frame_id: d_frame},
      {id: 5, size: 0.19378}]
        
     <param name="tag_size_cm" value="27.75"/> 
    </rosparam>
  </node>
</launch>

